<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Carrito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div id="app">

        <a href="./tienda.html">Seguir comprando</a>

        <div v-if="arrayCarritoDeCompras != ''" v-for="producto in arrayCarritoDeCompras">
            <div @click=modalProducto(producto._id)>
                <!-- <p>{{producto.imagen}}</p> -->
                <p>nombre: {{producto.nombre}}</p>
                <p>descripcion: {{producto.descripcion}}</p>
                <p>contador: {{producto.contador}}</p>
                <p>stock: {{producto.stock}}</p>
                <p>precio por unidad: {{dinero(producto.precio)}}</p>
                <p>precio total: {{dinero(producto.precio * producto.contador)}}</p>
                <button @click="agregarAlCarrito(producto)" style="color: rgb(0, 255, 0);">Agregar unidad</button>
                <button @click="quitarUnidadProducto(producto)" style="color: rgb(255, 217, 0);">Quitar unidad</button>
                <button @click="quitarDelCarrito(producto)" style="color: red;">Quitar todo</button>
                <p>.</p>
                <p>.</p>
            </div>
        </div>
        <div v-else>No hay nada</div>

        <div>
            <h2>Precio total</h2>
            {{sumaTotalCompra}}
            <p>{{dinero(precioTotalCompra)}}</p>
            <!-- if (precioTotalCompra > ...) entonces aplicarle descuento o interes por (nose obra social -10%) -->
        </div>

        <div>
            <button @click="confirmacion()">Comprar</button>
            <button @click="comprarCancelar()">Borrar todos los productos</button>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"  v-for="producto in productoInfoModal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{producto.nombre}}</h5>
                        <p>{{producto.tipo}}</p>
                        <!--<p>{{producto.marca}}</p>  -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="div-img-modal-body">
                            <img :src="producto.imagen" :alt="producto.nombre">
                        </div>
                        <div>
                            <p>{{producto.descripcion}}</p>
                            <p>Stock: {{producto.stock}}</p>
                            <p>Precio: ${{producto.precio}}</p>
                            <!-- <p>{{producto.descuento}}</p> -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger" @click="quitarDelCarrito(producto)">Sacar del Carrito</button>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/vue@3"></script> 
<script src="./carrito.js"></script>
</body>
</html>