<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div id="app">

        <!--{{this.nombreA}}  
        {{this.nombreZ}}
        {{this.productosDescuento}}
        {{this.precioMayor}}
        {{this.precioMenor}}
        {{this.tipo}}-->



        <form>

            <!-- El buscador -->
            <input type="text" placeholder="Buscar..." v-model="buscador" v-on:keyup="filtroBusqueda"> {{buscador}}

            <!-- El rango -->
            <label>
                <input type="range" name="rango" id="rango" min="0" max="2000" v-model="rango">
                {{rango}}
            </label>

            <!-- Para las categorias -->
            <label>Juguete
                <input type="checkbox" id="tipo" name="tipo" value="Juguete" v-model="tipoSelec">
            </label>
            <label>Medicamento
                <input type="checkbox" id="tipo" name="tipo" value="Medicamento" v-model="tipoSelec">
            </label>
            
            <!-- Para las marcas -->
            <!-- <label>Juguete
                <input type="checkbox" id="tipo" name="tipo" value="juguete" v-model="tipoSelec">
            </label>
            <label>Medicamento
                <input type="checkbox" id="tipo" name="tipo" value="medicamento" v-model="tipoSelec">
            </label> -->
            
            <!-- El select para los filtros -->
            <select v-model="opcionElegida">
                <option disabled value="" selected>Elija un filtro</option>
                <option value="mayor">Precio Mayor</option>
                <option value="menor">Precio Menor</option>
                <option value="a-z">Ordenar A-Z</option>
                <option value="z-a">Ordenar Z-A</option>
                <option value="descuentos">Descuentos</option>
            </select>


        </form>

        {{filtroSelect}}
        {{opcionElegida}}
        {{seleccionado}}


        <a href="./carrito.html">al carrito/a pagar</a>


        <div v-if="tipoSelec == ''">
            {{buscado}}
            <div v-if="arrayProductosRespaldo.length == 0">
                <div>
                    <h5>no hay nada</h5>
                    <p>ajuste los parametros de busqueda</p>
                </div>
            </div>

            <div v-else v-for="producto in arrayProductosRespaldo" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div  v-if="rango > producto.precio" @click=modalProducto(producto._id)>
                    <p>{{producto.nombre}}</p>
                    <p>{{producto.tipo}}</p>
                    <p>{{producto.precio}}</p>
                </div>
            </div>

        </div>

        <div v-else-if="tipoSelec == 'Juguete'">
            {{buscadoJ}}
            <div v-if="arrayJuguetesRespaldo.length == 0">
                <div>
                    <h5>no hay nada</h5>
                    <p>ajuste los parametros de busqueda</p>
                </div>
            </div>

            <div v-else v-for="producto in arrayJuguetesRespaldo" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div  v-if="rango > producto.precio" @click=modalProducto(producto._id)>
                    <p>{{producto.nombre}}</p>
                    <p>{{producto.tipo}}</p>
                    <p>{{producto.precio}}</p>
                </div>
            </div>

        </div>
        <div v-else-if="tipoSelec == 'Medicamento'">
            {{buscadoM}}
            <p>m</p>
            <div v-if="arrayMedicamentosRespaldo.length == 0">
                <div>
                    <h5>no hay nada</h5>
                    <p>ajuste los parametros de busqueda</p>
                </div>
            </div>

            <div v-else v-for="producto in arrayMedicamentosRespaldo" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div  v-if="rango > producto.precio" @click=modalProducto(producto._id)>
                    <p>{{producto.nombre}}</p>
                    <p>{{producto.tipo}}</p>
                    <p>{{producto.precio}}</p>
                </div>
            </div>

        </div>
        
        <div v-else>
            {{buscadoOtro}}
            <p>2</p>
            <div v-if="arrayProductosRespaldo.length == 0">
                <div>
                    <h5>no hay nada</h5>
                    <p>ajuste los parametros de busqueda</p>
                </div>
            </div>

            <div v-else v-for="producto in arrayProductosRespaldo" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div  v-if="rango > producto.precio" @click=modalProducto(producto._id)>
                    <p>{{producto.nombre}}</p>
                    <p>{{producto.tipo}}</p>
                    <p>{{producto.precio}}</p>
                </div>
            </div>

        </div>

  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"  v-for="producto in productoInfoModal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{producto.nombre}}</h5>
                        <p>{{producto.tipo}}</p>
                        <!--<p>{{producto.marca}}</p>  -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="div-img-modal-body">
                            <img :src="producto.imagen" :alt="producto.nombre">
                        </div>
                        <div>
                            <p>{{producto.descripcion}}</p>
                            <p>Stock: {{producto.stock}}</p>
                            <p>Precio: ${{producto.precio}}</p>
                            <!-- <p>{{producto.descuento}}</p> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary agregar" @click="agregarAlCarrito(producto)">Agregar Carrito</button>{{producto.contador}}
                            <button v-show="producto.contador > 0"  type="button" class="btn btn-danger sacar" @click="quitarDelCarrito(producto)">Sacar del Carrito</button>
                        </div>
                    </div>
                   



    </div>
  </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<script src="https://unpkg.com/vue@3"></script> 
<script src="assets/js/tienda.js"></script>
</body>
</html>