@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Title;
  src: url("../fonts/LexendDeca-Bold.ttf");
}

@font-face {
  font-family: Sub-Title;
  src: url("../fonts/LexendDeca-Medium.ttf");
}


@font-face {
  font-family: Paragraph;
  src: url("../fonts/Figtree-Light.ttf");
}


:root {
  --main: hsl(234, 40%, 25%);
  --secondary: #009eb8;
  --paragraph: #4b4b4c;
  --font-title: Title;
  --font-subtitle: Sub-Title;
  --font-paragraph: Paragraph;

  --color-white-100: hsl(206, 5%, 98%);
  --color-black-100: hsl(213, 23%, 8%);
  --color-black-200: hsl(214, 21%, 6%);
  --color-black-300: hsl(210, 21%, 6%);
  --color-black-400: hsl(216, 22%, 4%);
  --color-black-500: hsl(220, 18%, 3%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/*Tailwind*/

.title{
  @apply text-3xl laptop:text-4xl desktop:text-5xl text-[#262b59] font-['Title'] dark:text-[#ffffff]
}

.sub-title{
  @apply text-2xl laptop:text-3xl desktop:text-4xl text-[#009eb8] font-['Sub-Title']
}

.paragraph{
  @apply text-base laptop:text-base desktop:text-lg text-[#4b4b4c] font-['Paragraph'] dark:text-[#e4e3e3]
}


/*Social*/

.info-clinic {
  font-family: Paragraph;
  background: var(--main);
  min-height: 50px;
  font-weight: 400;
  color: #2f2f2f;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.container-contact {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
}

.mail {
  display: flex;
}

.phone {
  display: flex;
}

.info-clinic i {
  margin-right: 10px;
  align-items: center;
  font-size: 16px;
}

.container-contact {
  display: flex;
}

.container-social {
  display: block;
}

/*Navbar*/
.brand {
  font-family: inherit;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--main);
}

.header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  box-shadow: var(--shadow-medium);
  background-color: var(--color-white-100);
}

.transition-navbar {
  background-color: var(--main);
}

.wrapper {
  font-family: Sub-Title;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 2rem;
  width: 100%;
  height: 3.5rem;
  margin: 0 auto;
  padding: 4vh;

}

@media screen and (max-width: 992px) {

  #img-nav-mobile {
    display: block;
  }

  .container-social {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: var(--shadow-medium);
    background-color: var(--color-white-100);
    transition: all 0.5s ease;
  }

  .navbar.active {
    left: 0rem;
    opacity: 1;
    visibility: visible;
  }

  .wrapper {
    justify-content: space-between;
  }

  .info-clinic {
    justify-content: space-around;
  }

  #login-btn {
    background-color: var(--secondary);
    padding: 1vh;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5;
    width: 50%;
    display: flex;
    margin-left: 12px;
  }

  #card-shop {
    display: none;
  }

}

#card-shop-mobile {
  display: none;
}

#img-nav-mobile {
  display: none;
}

#card-shop-pc {
  display: block;
}

@media screen and (max-width: 992px) {
  #card-shop-pc {
    display: none;
  }

  #img-nav-mobile {
    display: block;
  }

  #card-shop-mobile {
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: 648px) {
  .location {
    display: flex;
    display: none;
  }

  .info-clinic i {
    margin-right: 7px;
    align-items: center;
    font-size: 16px;
  }

  .info-clinic p {
    font-size: 14px;
  }

}

.menu-item {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--color-black-500);
  transition: all 0.3s ease-in-out;
}

.menu-link>i.bx {
  font-size: 1.35rem;
  line-height: 1.5;
  color: inherit;
}

.menu-link:hover {
  outline: none;
  color: var(--secondary);
}

@media only screen and (min-width: 993px) {
  .menu-dropdown:hover>.submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 992px) {
  .menu {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }

  .menu-item {
    display: block;
    margin: 0 auto;
  }

  .menu-link {
    justify-content: space-between;
    padding: 0.5rem 1.25rem;
  }
}

.submenu {
  position: absolute;
  top: 2.35rem;
  left: -2rem;
  min-width: 13rem;
  height: auto;
  padding: 0 1rem 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 2px solid var(--secondary);
  box-shadow: var(--shadow-medium);
  background-color: var(--color-white-100);
  transition: all 0.3s ease-in-out;
}

.submenu-item {
  display: block;
  margin-top: 0.75rem;
}

.submenu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  color: var(--color-black-500);
  transition: all 0.35s ease;
}

.submenu-link:hover {
  outline: none;
  color: var(--main);
}

@media only screen and (max-width: 992px) {
  .submenu {
    position: relative;
    top: -0.5rem;
    left: 2.5rem;
    width: 100%;
    max-height: 0;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    transform: translateY(0px);
    box-shadow: none;
    background: transparent;
  }
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1.75rem;
  height: 1rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border: none;
  outline: none;
  background: var(--color-black-500);
}

.burger-line:nth-child(1) {
  top: 0px;
}

.burger-line:nth-child(2) {
  top: 0.5rem;
}

.burger-line:nth-child(3) {
  top: 1rem;
}

@media only screen and (max-width: 992px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
}

@media only screen and (max-width: 992px) {
  .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

#login-btn {
  background-color: var(--secondary);
  padding: 1vh;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5;
}

#login-btn:hover {
  transition: 0.5;
  background-color: #00a0b8d3;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
}

/*Banner Header*/
.banner-top {
  margin-top: 8vh;
}

.slider-banner {
  height: 60vh;
}

.slider-banner1 {
  background-image:  url("../img/handsome-veterinarian-at-vet-clinic-examining-cute-black-pug-dog-pointing-finger-at-pet-during-check-up-with-stethoscope-white-background.jpg");
 
  background-position: 200% 30%;
  background-size: cover;

}

.slider-banner2 {
  background-image:  url("../img/pruebaaaa.jpg");
  background-position: 100% 30%  ;
  background-size: cover;
  background-repeat: no-repeat;
}



.sub-banner {
  color: white;
  width: 100%;
  padding-bottom: 2vh;
  font-size: 3rem;
}

.sub-banner1 {
  color: rgb(0, 0, 0);
  width: 60%;
  padding-bottom: 2vh;
  font-size: 4.5rem;
}

.p-banner{
  font-size: 1.5rem;

  width: 40%;
  padding-bottom: 2vh;
  font-family: var(--font-paragraph);
}
#todo{
  color: var(--secondary);
}


#btn-banner{
  margin-top: 10vh;
  padding: 1.5vh;
  border-radius: 5px;
  background-color: var(--secondary);
  color: white;
  font-family: var(--font-subtitle);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.paragraph-banner {
  color: white;
}

.slider-banner1{
  padding: 10vh;
}

.slider-banner2{
  padding: 10vh;
}


/*About Us*/
.about-us-box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.h6-about-us {
  color: var(--main);
  font-weight: 600;
  margin-top: 1rem;
}

.p-about-us {
  margin-top: 1rem;
  text-align: justify;
}

.about-us-box2{
  padding: 4rem;
}

.img-about-us {
  width: 20rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.img-about-us-1 {
  border-radius: 0.5rem;
  position: absolute;
  top: 48vw;
  left: 25vw;
  width: 20rem;
  height: 14rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

/* END About Us*/


.bauti-celu{
  display: none;
}


/*bauti*/

.services-box1{
  display: flex;
  width: auto;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://rec-end.elnuevodia.com/images/tn/0/16/1413/1901/473/618/2015/04/03/enfermera.jpg.jpg);
  border: 1px solid gray;
}
.div-services-box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 37%;
  width: 100%;
  padding: 0px 10px;
}
.div2-services-box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 63%;
  width: 100%;
  padding: 0px 10px;
}
.h2-div-services-box1{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 50%;
  font-size: 1.4cm;
  opacity: 0.5;
  color: #4b4b4c;
}
.div-img-services-box1{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: rgb(114, 111, 111);
  border: 1px solid blue;

}
.img-services-box1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

}
.p-title-div-services-box1{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.75cm;
}
.p-div-services-box1{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 65%;
  color: #4b4b4c;
}

.services-box2{
  display: flex;
  width: auto;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://th.bing.com/th/id/OIP.pSWQXuzwGvI9gS6qBy2d8AHaHa?pid=ImgDet&rs=1);
  border: 1px solid gray;
}
.div-services-box2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 37%;
  width: 100%;
  padding: 0px 10px;
}
.div2-services-box2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 63%;
  width: 100%;
  padding: 0px 10px;
}
.h2-div-services-box2{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 50%;
  font-size: 1.4cm;
  opacity: 0.5;
  color: #4b4b4c;
}
.div-img-services-box2{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: rgb(114, 111, 111);
  border: 1px solid blue;

}
.img-services-box2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

}
.p-title-div-services-box2{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.75cm;
}
.p-div-services-box2{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 65%;
  color: #4b4b4c;
}

.services-box3{
  display: flex;
  width: auto;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://image.freepik.com/foto-gratis/veterinario-companero-trabajo-examinar-perro_13339-232292.jpg);
  border: 1px solid gray;
}
.div-services-box3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 37%;
  width: 100%;
  padding: 0px 10px;
}
.div2-services-box3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 63%;
  width: 100%;
  padding: 0px 10px;
}
.h2-div-services-box3{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 50%;
  font-size: 1.4cm;
  opacity: 0.5;
  color: #4b4b4c;
}
.div-img-services-box3{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: rgb(114, 111, 111);
  border: 1px solid blue;

}
.img-services-box3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

}
.p-title-div-services-box3{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.75cm;
}
.p-div-services-box3{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 65%;
  color: #4b4b4c;
}

.services-box4{
  display: flex;
  width: auto;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://th.bing.com/th/id/OIP.zXqXSt5TkA3Umx-SUaH1bgHaLG?pid=ImgDet&rs=1);
  border: 1px solid gray;
}
.div-services-box4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 37%;
  width: 100%;
  padding: 0px 10px;
}
.div2-services-box4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 63%;
  width: 100%;
  padding: 0px 10px;
}
.h2-div-services-box4{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 50%;
  font-size: 1.4cm;
  opacity: 0.5;
  color: #4b4b4c;
}
.div-img-services-box4{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: rgb(114, 111, 111);
  border: 1px solid blue;

}
.img-services-box4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

}
.p-title-div-services-box4{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.75cm;
}
.p-div-services-box4{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 65%;
  color: #4b4b4c;
}

.bauti-celu{
  display: none;
}


@media (max-width: 640px) { 
  .bauti-celu{
    display: block;
  }

  .dasdasd{
    display: none;
  }
}

/* Footer */

.h6-footer {
  color: var(--main);
  font-weight: 600;
}

.list-footer {
  display: flex;
  flex-direction: column;
}

ul a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

ul input {
  margin-top: 1rem;
  border: 1px black solid;
  border-radius: 0.5rem;
  height: 3rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.button-footer-suscription {
  display: flex;
  justify-content: start;
}

.button-footer-suscription button {
  margin-top: 0.5rem;
  background-color: var(--secondary);
  padding: 0.8rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.div-footer {
  margin-left: 3rem;
}
